{% load forms %}
<div class="row" ng-show="currentStep.controller.state == 'initial'">
    <div class="col-sm-8">
      <h4>Hospital number</h4>
      <input required autofocus class="form-control" type="text"
             ng-model="currentStep.controller.hospital_number"
             ng-keypress="$event.keyCode == 13 && currentStep.controller.lookup_hospital_number()"
             />
      <br />
      <button class="btn btn-lg btn-primary" ng-click="currentStep.controller.lookup_hospital_number()">
        <i class="fa fa-search"></i>
        Search
      </button>
      <br />
      <p>
        If we already have your patient on the system, we can pull their
        details for you
      </p>
    </div>
</div>

<!-- Editing demographics state -->
<div class="row" ng-show="currentStep.controller.state == 'editing_demographics'">
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-3">Hospital</label>
                <label class="control-label col-sm-8 text-left">
                  [[ currentStep.controller.hospital_number ]]
                </label>
        </div>
        {% input "autofocus" label="Name" model="patient.demographics[0].name" %}
        <div class="form-group">
          <label class="control-label col-sm-3">Date of birth</label>
          <div class="col-sm-8">
            <input class="form-control"
                         type="text"
                         name="date_of_birth"
             ng-model="patient.demographics[0].date_of_birth"
             ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])\/(0?[1-9]|1[012])\/(\d{4})$/"
             placeholder="dd/mm/yyyy" />
                  <span class="help-block" ng-show="newEpisodeForm.date_of_birth.$invalid">
                    Date of Birth must be dd/mm/yyyy
                  </span>
          </div>
          </div>
          {% select label="Gender" model="patient.demographics[0].gender" lookuplist="gender_list" %}
      </form>
    </div>
  </diV>
</div>
<span ng-show="currentStep.controller.state === 'has_demographics'">
<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-md-4">
        <b>Hospital #[[ currentStep.controller.hospital_number ]]</b>
      </div>
      <div class="col-md-8">
        [[ currentStep.controller.hospital_number ]]
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <b>Name</b>
      </div>
      <div class="col-md-8">
        [[ currentStep.controller.patient.demographics[0].name ]]
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <b>Date of Birth</b>
      </div>
      <div class="col-md-8">
        [[ currentStep.controller.patient.demographics[0].date_of_birth | shortDate ]]
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <b>Gender</b>
      </div>
      <div class="col-md-8">
        [[ currentStep.controller.patient.demographics[0].gender ]]
      </div>
    </div>
    <br />
  </div>
  </div>
</span>
