{% load forms %}
<div class="panel panel-primary panel-container">
  <div class="panel-heading">
    <h2>
      [[ title ]]
    </h2>
    <div class="pathway-process-steps">
      {% process_steps process_steps="steps" click="clickIcon" show_titles=False active="progress_step.title === currentStep.title" complete="stepIndex(progress_step) < currentIndex" disabled="stepIndex(progress_step) > currentIndex" %}
    </div>
  </div>
  <div class="panel-body">
    <div class="pathway-process-steps-padding">
      <div class="row">
        <div class="col-md-8 col-md-push-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              {% block panelheading %}
              <h3>
                <span ng-show="currentStep.icon">
                <i class="[[ currentStep.icon ]]"></i>
                </span>
                [[ currentStep.title ]]
                <small>[[ currentIndex + 1 ]] of [[ numSteps ]]</small>
              </h3>
              {% endblock %}
            </div>
            <div class="panel-body">
              <div class="to_append"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-8 col-md-push-2">
        <button
          ng-disabled="!currentStep.controller.valid(editing)"
          class="btn btn-lg btn-primary float-right"
          ng-show="currentStep.controller.showNext(editing)"
          ng-click="goNext()">
          <span ng-show="hasNext()">
            Next <i class="fa fa-arrow-right"></i>
          </span>
          <span ng-show="!hasNext()">
            Save <i class="fa fa-save"></i>
          </span>
        </button>
        <div class="float-left" ng-show="hasPrevious()">
          <button class="btn btn-secondary btn-lg"ng-click="goPrevious()">
            <i class="fa fa-arrow-left"></i> Back
           </button>
         </div>
     </div>
    </div>
  </div>
</div>
