{% extends "pathway/modal_pathway_base.html" %}
{% load forms %}
{% block pathway_header %}
  {{ block.super }}
  {% block process_steps %}
    <div ng-show="numSteps > 2" class="pathway-process-steps">
      {% process_steps process_steps="steps" click="clickIcon" show_titles=False active="progress_step.display_name === pathway.currentStep.display_name" complete="pathway.stepIndex(progress_step) < currentIndex" disabled="pathway.stepIndex(progress_step) > pathway.currentIndex" %}
    </div>
  {% endblock %}
{% endblock pathway_header %}
{% block pathway_footer %}
<div class="modal-footer">
  <div class="row">
    <div class="col-md-10 col-md-push-1">
      {% include "pathway/partial/wizard_next_button.html" %}
      {% include "pathway/partial/cancel_button.html" %}
      {% include "pathway/partial/wizard_back_button.html" %}
    </div>
  </div>
</div>
{% endblock pathway_footer %}
