{% load forms %}
<div class="modal-header">
  <h2>
    <i ng-show="icon" class="[[ icon ]]"></i> [[ title ]]
    <span ng-show="episode.demographics.length">
      ([[ episode.demographics[0].first_name ]] [[ episode.demographics[0].surname ]])
    </span>
  </h2>
  {% block process_steps %}
  <div ng-show="numSteps > 2" class="pathway-process-steps">
    {% process_steps process_steps="steps" click="clickIcon" show_titles=False active="progress_step.title === currentStep.title" complete="stepIndex(progress_step) < currentIndex" disabled="stepIndex(progress_step) > currentIndex" %}
  </div>
  {% endblock %}
</div>
<div class="modal-body">
  <form name="form">
    {% block to_append %}
    <div class="pathway-process-steps-padding">
      {% block header %}
      <h3>
        <span ng-show="currentStep.icon">
        <i class="[[ currentStep.icon ]]"></i>
        </span>
        [[ currentStep.title ]]
        <small ng-show="numSteps > 1">[[ currentIndex + 1 ]] of [[ numSteps ]]</small>
      </h3>
      {% endblock %}
      <div class="to_append"></div>
    </div>
    {% endblock %}
  </form>
</div>
</div>
<div ng-hide="currentScope.hideFooter" class="modal-footer">
  <div class="row">
    {% block modal_footer %}
    <div class="col-md-10 col-md-push-1">
      {% block modal_footer_right %}
      <button
        ng-disabled="!currentScope.valid(editing)"
        class="btn btn-primary"
        ng-show="currentScope.showNext(editing) && currentScope.hasNext()"
        ng-click="currentScope.goNext()"
        go-to-top
      >
        <i class="fa fa-arrow-right"></i>
        Next
      </button>
      <button
        ng-disabled="!currentScope.valid(editing)"
        class="btn btn-primary"
        ng-show="currentScope.showNext(editing) && !currentScope.hasNext()"
        ng-click="form.$valid && currentScope.goNext()"
        check-form="form"
      >
       <i class="fa fa-save"></i>
        Save
      </button>
      <button class="btn" ng-click="cancel()">Cancel</button>
      {% endblock modal_footer_right %}

      <div class="float-left">
        {% block modal_footer_left %}
          <button ng-show="currentScope.hasPrevious()" class="btn btn-secondary" go-to-top ng-click="currentScope.goPrevious()">
            <i class="fa fa-arrow-left"></i> Back
          </button>
        {% endblock modal_footer_left %}
      </div>
    </div>
   {% endblock modal_footer %}
  </div>
</div>
