{% extends "pathway/pathway_base.html" %}
{% load forms %}
{% block header %}
  {{ block.super }}
  {% block process_steps %}
    <div ng-show="numSteps > 2" class="pathway-process-steps">
      {% process_steps process_steps="steps" click="clickIcon" show_titles=False active="progress_step.title === currentStep.title" complete="stepIndex(progress_step) < currentIndex" disabled="stepIndex(progress_step) > currentIndex" %}
    </div>
  {% endblock %}
{% endblock header %}


{% block pathway_body %}
<div class="pathway-process-steps-padding">
  <div class="row">
    <div class="col-md-8 col-md-push-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>
            <span ng-show="currentStep.icon">
            <i class="[[ currentStep.icon ]]"></i>
            </span>
            [[ currentStep.title ]]
            <small ng-show="numSteps > 1">[[ currentIndex + 1 ]] of [[ numSteps ]]</small>
          </h3>
        </div>
        <div class="panel-body">
          <div class="to_append"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock pathway_body %}
